body {background: url(https://stmed.net/sites/default/files/flower-wallpapers-27859-53340.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }

  .content {background: transparent;
	margin: auto;
	position: relative;
	height: 800px;
	width: 1200px;
	text-align: center;
  }
  .text {color: rgb(25, 10, 107); 
	text-align: right;
	font-family: Sofia;
	font-size: 18pt;
	margin-right: 30%;
  }
  h3 {color: rgb(25, 10, 107); 
	text-align: right;
font-family: Sofia;
font-size: 14pt;
margin-right: 10%;
  }
  h3 a:link{
	  text-decoration: none;  
  }
  h1 {color: rgb(25, 10, 107); 
	text-align: center;
font-family: Sofia;
font-size: 36pt;
  }
  .right{position: absolute;
	height: relative;
	width: 40px;
	right: 10%;
}
  #menu{text-align: center;
	  width: 90%;
	  margin: auto;
  }
  #menu ul{margin:0;
	padding:0;
	list-style-type:none;
	text-align:center;
	font-family: Sofia;
	font-size: 20px;
  }
  #menu li{float: left;
	margin: auto;
	padding: 0;
	background-color: transparent;
  }
  #menu li a{display: block;
	width: 200px;
	color: rgb(25, 10, 107);
	text-decoration: none;
	padding: 5px;
  }
  #menu li a:hover{color: rgb(187, 36, 167);
  }
  #menu ul li ul{display: none;
  }
  #menu ul li:hover ul{display: block;
  }
  #menu li:hover ul li{float: none;
  }
